<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress CheckTagEmptyBody, SqlDialectInspection, SqlNoDataSourceInspection, SqlResolve -->
<mapper namespace="org.clever.notification.mapper.MessageTemplateMapper">
    <select id="findAllEnabled" resultType="org.clever.notification.entity.MessageTemplate">
        select * from message_template where enabled=1
    </select>

    <select id="findByPage" resultType="org.clever.notification.entity.MessageTemplate">
        select
        *
        from
        message_template
        <where>
            <if test="query.name!=null and query.name!=''">
                and name like concat('%', #{query.name}, '%')
            </if>
            <if test="query.content!=null and query.content!=''">
                and content like concat('%', #{query.content}, '%')
            </if>
            <if test="query.enabled!=null">
                and enabled=#{query.enabled}
            </if>
        </where>
        order by name
    </select>

    <select id="exists" resultType="int">
        select count(1) from message_template where name=#{name}
    </select>

    <select id="getByName" resultType="org.clever.notification.entity.MessageTemplate">
        select * from message_template where name=#{name}
    </select>
</mapper>